@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Madimi+One&display=swap'); 
body{
  background-color: #90be6d;
  font-family: "Inter", sans-serif;
  

}

svg{
  border-style: solid;
  border-width: 1px;
}

.US{
  fill: #EE4B2B;
  filter: saturate(.5);
  
}
.Canada{
  fill: #EE4B2B;
}
.Mexico{
  fill: #EE4B2B;
}